* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.container {
    min-width: 400px;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(161, 161, 238);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b8b8b8;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-family: sans-serif, Helvetica;
    font-size: 36px;
    font-weight: 700;
    color: .000;
    margin-left: 15px;
}

.main-menu ul li {
    display: inline;
}

li a {
    text-decoration: none;
    color: .000;
    padding: 0px 10px;
}

.hero {
    height: 80vh;
    background-color: #b8b8b8;
}

.hero {
    background: url(./images/wan-san-yip-7X60-5nr3Tk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}